{% extends "login-successfull.html" %}

{%  load static %}

{% block content %}


    

<br><br>
<div class="row">
<form method="POST">
<div class="form-group">
<label class="control-label col-sm-4" for="password">Current Password </label>
<div class=col-xs-8>
<input type="text" class="form-control">
</div>
</div><br><br>

<div class="form-group">
    <label class="control-label col-sm-4" for="password">New Password </label>
    <div class=col-xs-8>
    <input type="text" class="form-control">
    </div>
    </div><br><br>

    <div class="form-group">
        <label class="control-label col-sm-4" for="password">Conform Password </label>
        <div class=col-xs-8>
        <input type="text" class="form-control">
        </div>
        </div><br><br>
 

<div class="checkbox col-xs-offset-5">
<label><input type="checkbox">Keep me logged in</label>
</div><br>

<div class="form-group ">
<div class="col-xs-offset-5">
<button type="button" class="btn btn-primary">Login</button><a> or sign up for facebook</a>


<br>
<a>forgotten password ?</a>
</div>
</div>
</div>
</form>
print('yes')





{%endblock%}