{% extends "login-successfull.html" %}
{% load static %}
{% block content %}

<div class="row col-xs-12" >
    <br>
    <form method="POST" action="/fbapp/userprofile/" enctype="multipart/form-data">
      {% csrf_token %}
    <div>
      <input type="file"  name="userimage" id="image_btn" style="display: none;">
      <label for="image_btn" id="file_label" hidden >Update Your Profile Picture</label>
      {% if user_obj.myimage %}
        <img src="{{user_obj.myimage.url}}" width="100" class="myimage">
      {% else %}
        <img src="{% static 'images/Default-Profile.jpg '%}" width="100" class="myimage">
      {% endif %}
    
    </div>
    <br>
    <div class="form-group">
    <label>Firstname</label>
    <input disabled type="text" value={{user_obj.firstname}} class="form-control data" name="fname">
    </div>
    <div class="form-group">
    <label>surname</label>
    <input disabled type="text" value={{user_obj.surname}} class="form-control data" name="lname">
     </div>
    <div class="form-group">
    <label>Birthday</label>
    <input disabled type="date" value="{{user_obj.birthday|date:'Y-m-d'}}" class="form-control data" name="dob">
     </div>
    <div class="form-group">
    <label>Email or Phone</label>
    <input disabled type="text" value={{user_obj.fk_login.email}} class="form-control" name="email">
    </div>
    <button disabled type="submit" class="btn btn-primary data change" >Save</button>
    <button type="button" class="btn btn-success" id="edit">Edit</button>
  </form>
</div>



<script>
$(document).ready(function(){

$('#edit').click(function(){
   $('#edit').text('Cancel');
   $('.change').text('Update');
   $('.change').prop('disabled',false);
   $('#file_label').prop('hidden',false);
   $('.data').prop('disabled',false);
});

  $('#image_btn').change(function(event){
      $('.myimage').attr('src',URL.createObjectURL(event.target.files[0]));
  });
});

</script>

{% endblock %}