{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style type="text/css">
        #headdiv
        {
         width: 100%;
         height:100px;
         background-color:rgba(1, 36, 110, 0.726);
         padding: 10px;
        }
        body{
            background: linear-gradient(#fff,#d9ddeb);   
        }
        #bodydiv
        {
            height: 500px;
            width: 400;
            margin: 300px;
            margin-top: 100px;
            background-color: white;
            
        }
        .form-group
        {
         padding:10px;
        }
    </style>
</head>
<body>

<div class="container-fluid">
<div class="col-xs-12">

<div class="row">
<div id="headdiv">

<div id="logo">
<img src="{{user_obj.myimage.url}}"  alt="Facebook">
<button class="btn btn-xs btn-success" type="submit">signup</button>
</div>
</div>
</div>

<div class="row">
<div id="bodydiv">
<br>
<h4><strong>Facebook login</strong></h4>
<hr>
<div class="alert alert-danger">
    <strong> The password you have entered is incorrect.</strong>
  </div>
<form class="form-horizontal col-xs-12" id="form" method="post" action="/fbapp/log/">
    {%csrf_token%}
        <div class="form-group">
        <label class="control-label col-sm-4" for="email">Login as</label>
        <div class=col-xs-6>
        <div class="col-xs-4">
        <img src="{% static 'images/profilepic.jpg' %}" width="50px" height="50px" alt="profilepic">
        <br>
        <a>Not{{user_obj.firstname}}?</a>
        </div>
        <div class="col-xs-6" >
        <span><b>{{user_obj.firstname}}</b></span><br>
        <span><size="1" color="black">{{user_obj.fk_login.email}}</span>
        </div>
        </div>
        </div>
        
        <div class="form-group">
        <label class="control-label col-sm-4" for="password">Password </label>

        <div  class=col-xs-6>
            <input type="hidden" name="email" value="{{user_obj.fk_login.email}}">
        <input type="text" name="password" class="form-control">

        </div>
        </div>
        <div class="checkbox col-xs-offset-5">
        <label><input type="checkbox">Keep me logged in</label>
        </div><br>
        
        <div class="form-group ">
        <div class="col-xs-offset-5">
        <button type="submit" class="btn btn-primary">Login</button><a><srong>or sign up for facebook</srong></a>
        
        
        <br>
        <br>
        <a>forgotten password ?</a>
        </div>
        </div>

</div>
</div>


</div>
</div>   
</body>
</html>